/* Gutenberg core image component
---------------------------------------------------------------------- */
.wp-block-image {

  img {
    display: block;
  }

  .alignleft {
    float: left;
    @include rem(padding, 0 15px 15px 0);
  }

  .aligncenter {
    width: 100%;

    img {
      margin-left: auto;
      margin-right: auto;
    }

  }

  .alignright {
    float: right;
    @include rem(padding, 0 0 15px 15px);
  }

}

.wp-block-image .alignleft, .wp-block-image .alignright, .wp-block-image .aligncenter, .wp-block-image.is-resized {
  display: table;
  margin-left: 0;
  margin-right: 0;
}

.wp-block-image .alignleft > figcaption, .wp-block-image .alignright > figcaption, .wp-block-image .aligncenter > figcaption, .wp-block-image.is-resized > figcaption {
  display: table-caption;
  caption-side: bottom;
}

.wp-block-image figcaption {
  max-width: 100%;
}